.main {
    display: flex;
}

.content {
    flex-grow: 0.6;
    overflow: hidden;
    width: 75%;

    background-color: rgb(185, 179, 196);
}

#menu {
    flex-grow: 0.2;
    min-width: 200px;
    height: 800px;
    overflow: hidden;
    overflow-y: scroll;
    border: black 1px solid;
}

#stats {
    flex-grow: 0.2;
    height: 800px;
    overflow: hidden;
    overflow-y: scroll;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

#colorStats {
    margin-top: 12px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#manaStats {
    margin-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widgets {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardText {
    text-align: left;
    margin-left: 10px;
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.border {
    border: 2px solid blue;
}

ul {
    list-style-type: square;
    color: black;
}

li {
    background-color: rgb(255, 255, 255);
}

li:nth-child(2n) {
    background-color: rgb(186, 185, 187);
}

.buttonCardSearch {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85%;
    min-width: 85%;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 2px;
}

.cardImage {
    margin-left: auto;
    margin-right: auto;
    max-width: 223px;
    max-height: 310px;
}

#deckContainer {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(146, 130, 175);
}

.cardContainer {
    margin: 2px;
    padding: 2px;
    background: azure;
}